.div-mae {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 280px;
  justify-content: space-between;
  margin: 5px;
  text-align: center;
  width: 150px;
}

input {
  text-align: center;
  width: 60%;
}

img {
  border: 1px solid gray;
  border-radius: 10px;
  height: 135px;
  margin: auto;
}

.div-filha {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 90%;
}

.div-neta {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto 10px;
  width: 100%;
}
