.div-mae {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 310px;
  justify-content: space-between;
  margin: 5px;
  text-align: center;
  width: 160px;
}

.div-mae:hover {
  border: 5px solid;
  border-color: #036b52;
}

.input-number {
  height: 30px;
  margin-bottom: 0;
  text-align: right;
  width: 35%;
}

.change-quantity {
  background-color: #036b52;
  border-radius: 10px;
  color: white;
  height: 30px;
  text-align: center;
  width: 45px;
}

.change-quantity:hover {
  background-color: #03bd91;
}

img {
  border: 1px solid gray;
  border-radius: 10px;
  height: 135px;
  margin: auto;
}

.div-filha {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 95%;
}

.card-title {
  width: 150px;
}

.div-neta {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}
