.nav {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #036B52;
}

.leftItens {
  left: 10px;
  position: absolute;
}

.leftItens button {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  background-color: transparent;
  border: transparent;
}

.leftItens button:hover {
  background-color: #2FC18C;
  color: #001813;
}

.rightItens {
  right: 10px;
  position: absolute;
}

.rightItens .client{
  background-color: #421981;
  color: #ffffff;
  margin-right: 10px;
}

.rightItens .sair{
  background-color: #056CF9;
  color: #ffffff;
}

.rightItens button {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  background-color: transparent;
  border: transparent;
}
