.div-Products {
  align-content: space-evenly;
  border: 10px solid violet;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 98%;
}

img {
  border: 1px solid black;
  margin: auto;
  width: 50px;
}

.productsCard {
  border: 1px solid green;
}
